.login-container{
    height: 100vh;
    min-height: 876px;
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    /* padding: 15px 2px; */
    
}

.login-logo{
    width: 250px;
}

@media only screen and (min-width: 768px) {
    .login-container{
        min-height: 480px;
    }
    
}